h1
{
	color:black; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("zZBE2JvUmdU4HZzPdYWaFd-1200-80.jpg");
	background-position: center;
	background-size: cover;
}

#mycanvas{
	border-width: 10px;
	background-color: whitesmoke;
	border-style: dashed;
}
